*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-size: 20px;
	font-family: "Roboto Cn", sans-serif;
}

header{
	height: 100vh;
	width: 270vh;
	background-image: url(https://uhdwallpapers.org/uploads/converted/18/11/05/travel-into-space-image-1920x1080_74544-lm-90.jpg);
	background-size: cover;
	display: flex;
}

.navbar {
	position: absolute;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.navbar a{
	color: white;
}

.navbar .logo{
	color: white;
	font-weight: bold;
}

.navbar .nav-links ol {
	display: flex;
}

.navbar .nav-links ol li {
	margin: 0 25px;
}

.animation{
	width: 0px;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	transition: all 0.4s;
}
li a:nth-child(1):hover ~ .animation {
	width: 150px;
}